header{ 
    margin: 3%;
    position: sticky;
}

header ul{
    display: flex;
    justify-content: space-around;
}
header ul li{
    list-style: none;
    font-size: 18px;
}
header ul li a{
    text-decoration: none;
    color: black;
}
#space{
    width: 40%;
}
#login{
    padding: 9px;
    color: blue;
    border: 2px solid blue;
    border-radius: 40%;
}
.signup{
    padding: 11px;
    color: white;
    background-color: blue;
    border-radius: 40%;
}

/* Dropdown Button */
.dropbtn {
    font-size: 18px;
    border: none;
    background-color: white;
    z-index: 1;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: white;
    padding-left: 80px;
    padding-right: 80px;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
      display: inline;
    color: black;
    text-decoration: none;
    margin: 12px;
  }
  .dropdown:hover .dropdown-content {
      display:grid;
      grid-template-columns: repeat(2,1fr);
}
