@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

header{ 
    margin: 3%;
    width: 90%;
    margin: 0;
    top: 0;
    position: sticky;
    background-color: white;
    z-index: 2;
}

header ul{
    display: flex;
    justify-content: space-between;
}
header ul li{
    list-style: none;
    font-size: 18px;
}
header ul li a{
    text-decoration: none;
    color: black;
}
#space{
    width: 40%;
}
#login{
    padding: 9px;
    color: blue;
    border: 1px solid blue;
    border-radius: 25px;
}
.signup{
    padding: 11px;
    color: white;
    background-color: blue;
    border-radius: 25px;
}

/* Dropdown Button */
.dropbtn {
    font-size: 18px;
    border: none;
    background-color: white;
    z-index: 1;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: white;
    padding-left: 80px;
    padding-right: 80px;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
      display: inline;
    color: black;
    text-decoration: none;
    margin: 12px;
  }
  .dropdown:hover .dropdown-content {
      display:grid;
      grid-template-columns: repeat(2,1fr);
}
.navbar {
    position: relative;
}

#navlist {
   list-style: none;
   display: flex;
   padding: 0;
   margin: 0;
}

#navlist li {
  flex: auto;
  text-align: center;
  padding: 1.6em;
  font-size: 18px;
  color: white;
}
#toggle-nav {
    display: none;
    margin: auto;
    cursor: pointer;
 }
 #navlist li img{
     width: 170px;
     margin-left: 80px;
 }
@media all and ( max-width: 765px ) { 
    .navbar {
         padding: 1.6em;
    }
    header ul{
        flex-direction: column;
    }
    #navlist {
        position: relative;
        margin: 0 auto;
        padding: 0px 20px;
         flex-direction: column;
         display: none;
    }
    #toggle-nav {
        display: block;
        color: black;
     }
     #logo{
         text-decoration: none;
         line-height: 40px;
     }
     nav > ul{
         float: right;
     }
}