*{
    box-sizing: border-box;
}
#container {
    display: flex;
    width: 100%;
}

#container>div {
    height: auto;
    width: 40%;
}

#leftDiv {
    margin-left: auto;
    margin-right: auto;
}

#leftDiv>div {
    display: flex;
    justify-content: space-between;
}

hr {
    color: gray;
}

#lightText {
    display: flex;
    flex-direction: column;
}

#lightText {
    color: gray;
    font-size: 20px;
}

.amount {
    font-size: 40px;
}


#rightDiv {

    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    min-height: 100vh;

}

#rightDiv form {
    padding: 20px;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}



#rightDiv form .row .col {
    flex: 1 1 250px;
}

#rightDiv form .row .col .title {
    font-size: 20px;
    color: #333;
    padding-bottom: 5px;
    text-transform: uppercase;
}

#rightDiv form .row .col .inputBox {
    margin: 15px 0;
}

#rightDiv form .row .col .inputBox span {
    margin-bottom: 10px;
    display: block;
}

#rightDiv form .row .col .inputBox input {
    width: 90%;
    border: 1px solid #ccc;
    padding: 10px 15px;
    font-size: 15px;
    text-transform: none;
}

#rightDiv form .row .col .inputBox input:focus {
    border: 1px solid #000;
}

#rightDiv form .row .col .flex {
    display: flex;
    gap: 15px;
}
#rightDiv form .row .col .flex .inputBox {
    margin-top: 5px;
}

#rightDiv form .row .col .inputBox img {
    height: 34px;
    margin-top: 5px;
    filter: drop-shadow(0 0 1px #000);
}

#rightDiv form .submit-btn {
    width: 100%;
    padding: 12px;
    font-size: 17px;
    background: #27ae60;
    color: #fff;
    margin-top: 5px;
    cursor: pointer;
}

#rightDiv form .submit-btn:hover {
    background: #2ecc71;
}
@media all and (min-width:80px) and (max-width:650px) {
    #container {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        width: 100%;
        flex-wrap: wrap;
    }

    #container>div {
        height: auto;
        width: auto;
    }

    #leftDiv {
        width: 100%;
    }

    #leftDiv {
        margin-left: 12%;
        margin-right: 12%;
    }

}