.parent-transform-blog, .parent-stay-on-brand{
    width: 100vw;
    background-color: rgb(225, 224, 224);
}
.transform-blog-section ,.content-library-section,.stay-on-brand-section{
    margin: 14%;
    display: flex;
    text-align: center;
}
.transform-blog-content,.content-library-content,.stay-on-brand-content {
    margin: 7%;
}
.transform-blog-content a,.content-library-content a,.stay-on-brand-content a{
    text-decoration: none;

}
#transform-blog-first-para,.content-library-first-para,.stay-on-brand-first-para{
    font-size:21px;
}
#drew,#julia,#promod{
    display: flex;
}
#drew-image img,#julia-image img,#promod-image img{
    width: 70px;
    border-radius: 50%;
}
#drew-about img,#julia-about img,#promod-about img{
    width: 140px;
}

@media all and ( max-width: 765px ) { 
    .transform-blog-section ,.content-library-section,.stay-on-brand-section{
        flex-direction: column;
    }
    .brands-content{
        display: flex;
        flex-direction: column;
    }
}