.parent-transform-blog{
    width: 100vw;
    background-color: rgb(225, 224, 224);
}
.transform-blog-section ,.content-library-section{
    margin: 14%;
    display: flex;
    text-align: center;

}
.transform-blog-content,.content-library-content {
    margin: 7%;
}
.transform-blog-content a,.content-library-content a{
    text-decoration: none;

}
#transform-blog-first-para,.content-library-first-para{
    font-size:21px;
}
#drew,#julia{
    display: flex;
}
#drew-image img,#julia-image img{
    width: 70px;
    border-radius: 50%;
}
#drew-about img,#julia-about img{
    width: 140px;
}